<article>
  <header>
    <app-menubar>
      <ng-container menu-logo>
        Vibrant America
      </ng-container>
      <ng-container menu-items *ngFor="let item of getMenuItems();">
        <a [routerLink]="item.link" routerLinkActive="active" mat-button class="menu-item" [fxShow]="item.showOnDesktop"
          [fxShow.xs]="item.showOnMobile" [fxShow.sm]="item.showOnTablet">
          <mat-icon class="mr3">{{item.icon}}</mat-icon>
          {{item.label}}
        </a>
      </ng-container>

      <ng-container menu-side-items *ngFor="let item of getMenuItems();">
        <div class="menu-item" [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet"
          [fxShow.xs]="!item.showOnMobile">
          <button mat-menu-item>
            <mat-icon class="mr">{{item.icon}}</mat-icon>
            {{item.label}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </ng-container>

    </app-menubar>
  </header>
  <main>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</article>